paper/paper.bbl
*.aux
paper/paper.blg
*.log
paper/paper.out
*.gz
paper/paperNotes.bib

data/tau*/vrot*/vout*/parameters-usedvalues
data/tau*/vrot*/vout*/tau*_vrot*_vout*_*.proc.*.ascii
data/tau*/vrot*/vout*/tau*_vrot*_vout*.input
data/tau*/vrot*/vout*/tau*_vrot*_vout*.input-usedvalues
data/tau*/vrot*/vout*/tau*_vrot*_vout*.sh

.ipynb_checkpoints
